<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DonaMenina</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/datatables.css"/>

</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div>&copy;</div>
        <div class="container footer-colum">
             <div><img src="/img/LogoCurto.jpg" alt="Logo Dona Menina" style="width: 100px; height: 50px;"></div>
            <div class="date"><p id="currentDateTime"></p></div>
        </div>
       
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables.js"></script>
    <script src="~/js/workspace.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
