@{
    ViewData["Title"] = "Login";
}
<head>
    <script src="~/js/site.js"></script>
</head>
<div class="home">
    <div class="logo-home">
        <img src="/img/Logo.jpeg" alt="Dona Menina Logo" />
    </div>
    <form method="post" class="form" asp-action="WorkSpace" asp-controller="Home">
        <input type="password" name="password" id="password" placeholder="Senha:" required />
        <button type="submit">Entrar</button>
    </form>
    @if (TempData.ContainsKey("ErrorMessage"))
    {
        <div>
            <br>
            @TempData["ErrorMessage"]
        </div>
    }
</div>
